/* src/index.css */
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  /* THEME: PORTO SUAPE (AZUL) */

  .light.theme-mcs-suape {
    --primary: 215 95% 48%;
    --primary-foreground: 0 0% 100%;

    --accent: 215 95% 92%;
    --accent-foreground: 215 95% 28%;

    --ring: 215 95% 48%;

    --secondary: 215 40% 96%;
    --secondary-foreground: 215 60% 25%;
  }

  .dark.theme-mcs-suape {
    --primary: 215 90% 65%;
    --primary-foreground: 215 40% 10%;

    --accent: 215 50% 22%;
    --accent-foreground: 215 90% 88%;

    --ring: 215 90% 65%;

    --secondary: 215 35% 18%;
    --secondary-foreground: 215 80% 80%;
  }

  /* THEME: PORTO SUDESTE (ROXO) */

  .light.theme-mcs-sudeste {
    --primary: 270 95% 55%;
    --primary-foreground: 0 0% 100%;

    --accent: 270 95% 92%;
    --accent-foreground: 270 85% 30%;

    --ring: 270 95% 55%;

    --secondary: 270 40% 96%;
    --secondary-foreground: 270 60% 28%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .font-tabular {
    font-variant-numeric: tabular-nums;
  }

  .sipremo-logo {
    @apply max-w-64;
  }

  .sipremo-logo-lg {
    @apply max-w-72;
  }

  .suape-logo {
    @apply max-w-10 ml-2;
  }

  .suape-logo-lg {
    @apply max-w-32;
  }
}

/* Evita stroke “engordar” durante zoom / flyTo */
.leaflet-interactive {
  vector-effect: non-scaling-stroke;
}
